/* 
--- GENERAL ---
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(32, 32, 32);
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  color: #4abeff;
}
p {
  color: rgb(255, 255, 255);
}

/* 
--- HEADER/NAV ---
*/
.header {
  background: linear-gradient(#5b9ed8, rgb(32, 32, 32));
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 30px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 35px;
  font-size: 1.3rem;
}

/* 
--- SEARCH ---
*/
.search {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 50%;
  max-width: 700px;
  background-color: #404040;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
  width: 400px;
  height: 5px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 20px;
  color: rgb(234, 234, 234);
}
.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  background: #282828;
  cursor: pointer;
}

/* 
--- FILTER ---
*/
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  text-align: center;
  border-radius: 20px;
  background-color: #404040;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  color: white;
}

/* 
--- PRODUCTS & ORDER SUMMARY ---
*/
.products,
.customer-info,
.order-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary {
  margin-top: 60px;
}
#records,
#customer-info,
#order-info {
  margin-bottom: 100px;
  border-collapse: collapse;
  width: 70%;
  color: white;
}
#customer-info,
#order-info {
  margin-bottom: 0px;
  margin-top: 0px;
}

#records td,
#records th,
#customer-info td,
#customer-info th,
#order-info td,
#order-info th {
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 18px;
}

#records tr:nth-child(even),
#customer-info tr:nth-child(even),
#order-info tr:nth-child(even) {
  background-color: #404040;
}

#records tr:hover,
#customer-info tr:hover,
#order-info tr:hover {
  background-color: rgb(13, 51, 87);
}

#records th,
#customer-info th,
#order-info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4abeff;
  color: rgb(30, 30, 30);
}
#customer-info th {
  background-color: #f6cf00;
}

/* 
--- ACOUNT (Login) ---
*/
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #404040;
  border-color: white;
  border-radius: 15px;
}
.login-container h1 {
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgb(32, 32, 32);
}
.login-container form {
  padding: 30px;
  box-sizing: border-box;
}
.login-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 18px;
  border-style: solid;
  background: rgb(32, 32, 32);
  color: white;
  outline: none;
}
.login-container button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background-color: #4abeff;
  outline: none;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #f6cf00;
}
.signup-link {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.signup-link a {
  color: #4abeff;
}
.signup-link a:hover {
  color: #f6cf00;
}
