<a class="btn btn-primary" href="/warehouse">Warehouses</a>
<a class="btn btn-primary" href="/listorder">Orders</a>

<h1>Administrator Sales Report</h1>
<div class="container">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-6">
            <h3>Administrator Sales Report by Day</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Total Order Amount</th>
                </tr>
                </thead>
                <tbody>
                {{#each sales}}
                    <tr>
                        <td>{{dateOrdered}}</td>
                        <td>${{fixed totalAmountEarned 2}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<script>
    const labels = JSON.parse(`{{{chartLabels}}}`);
    const data = JSON.parse(`{{{chartData}}}`);

    let myChart = document.getElementById('myChart').getContext('2d');
    let lineChart = new Chart(myChart, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Total Sales Report',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


