<h1 align="center">Welcome to Electric Lettuce</h1>
<h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
<h2 align="center"><a href="/listorder">List All Orders</a></h2>
<h2 align="center"><a href="/customer">Your Account</a></h2>
<h2 align="center"><a href="/orderhistory">Order History</a></h2>
<h2 align="center"><a href="/admin">Administrators</a></h2>
<h2 align="center"><a href="/logout">Log out</a></h2>

{{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
{{/if}}

