<div class="container-fluid">
    <div class="row justify-content-center my-3">
        <h3>Please Fill in your Information!</h3>
    </div>
    <form method="post" id="updateForm">
        <div class="form-row my-3">
            <div class="form-group col-md-6">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First Name"
                       required>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last Name"
                       required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" class="form-control" name="phone" placeholder="Phone Number" required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group col-md-12">
                <label for="address">Address:</label>
                <input type="text" id="address" class="form-control" name="address" placeholder="Address" required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group col-md-4">
                <label for="city">City:</label>
                <input type="text" id="city" class="form-control" name="city" placeholder="City" required>
            </div>
            <div class="form-group col-md-4">
                <label for="state">State:</label>
                <input type="text" id="state" class="form-control" name="state" placeholder="State" required>
            </div>
            <div class="form-group col-md-4">
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" class="form-control" name="postalCode" placeholder="Postal Code"
                       required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group col-md-6">
                <label for="country">Country:</label>
                <input type="text" id="country" class="form-control" name="country" placeholder="Country" required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group col-md-6">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control hidden" name="password"
                       placeholder="Password" required>
            </div>
        </div>
        <div class="form-row my-3">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary" name="submit" form="updateForm">Save</button>
            </div>
        </div>
    </form>
</div>
